name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    # 成功したら0で終了、失敗したら1で終了するジョブ
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # - name: Force Failure（強制失敗）
        # run: (exit 1)
      - name: Node Ver Success（成功系）
        run: node --version
